{
  "openapi": "3.1.0",
  "info": {
    "title": "Rekurn API",
    "version": "0.1.0",
    "description": "Public API for Rekurn repositories, refs, objects, deployments, audit logs, and passkey authentication."
  },
  "servers": [{ "url": "https://api.rekurn.com/api/v1" }],
  "security": [{ "bearerAuth": [] }],
  "components": {
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer", "bearerFormat": "JWT" }
    },
    "schemas": {
      "Error": { "type": "object", "properties": { "error": { "type": "string" }, "code": { "type": "string" } }, "required": ["error"] },
      "Repo": { "type": "object", "properties": { "name": { "type": "string" }, "description": { "type": ["string", "null"] }, "visibility": { "enum": ["public", "private"] }, "defaultBranch": { "type": "string" }, "deployHooks": { "type": "object", "additionalProperties": { "type": "string", "format": "uri" } }, "createdAt": { "type": "string", "format": "date-time" } }, "required": ["name", "visibility", "defaultBranch", "createdAt"] },
      "Identity": { "type": "object", "properties": { "name": { "type": "string" }, "email": { "type": "string" }, "timestamp": { "type": "integer" } }, "required": ["name", "email", "timestamp"] },
      "Commit": { "type": "object", "properties": { "type": { "const": "commit" }, "hash": { "type": "string", "pattern": "^[0-9a-f]{64}$" }, "treeHash": { "type": "string", "pattern": "^[0-9a-f]{64}$" }, "parentHashes": { "type": "array", "items": { "type": "string", "pattern": "^[0-9a-f]{64}$" } }, "author": { "$ref": "#/components/schemas/Identity" }, "committer": { "$ref": "#/components/schemas/Identity" }, "message": { "type": "string" }, "signature": { "type": "string" } }, "required": ["type", "hash", "treeHash", "parentHashes", "author", "committer", "message"] },
      "Ref": { "type": "object", "properties": { "name": { "type": "string" }, "commitHash": { "type": "string", "pattern": "^[0-9a-f]{64}$" }, "type": { "enum": ["branch", "tag"] }, "isImmutable": { "type": "boolean" } }, "required": ["name", "commitHash", "type", "isImmutable"] },
      "Deployment": { "type": "object", "properties": { "commitHash": { "type": "string", "pattern": "^[0-9a-f]{64}$" }, "env": { "enum": ["production", "preview", "staging"] }, "status": { "enum": ["pending", "building", "ready", "error", "cancelled"] }, "vercelUrl": { "type": ["string", "null"] }, "vercelDeploymentId": { "type": ["string", "null"] }, "notes": { "type": ["string", "null"] }, "createdAt": { "type": "string", "format": "date-time" } }, "required": ["commitHash", "env", "status", "createdAt"] },
      "ObjectDownload": { "type": "object", "properties": { "hash": { "type": "string", "pattern": "^[0-9a-f]{64}$" }, "type": { "enum": ["blob", "tree", "commit"] }, "size": { "type": "integer" }, "data": { "type": "string", "contentEncoding": "base64" } }, "required": ["hash", "type", "size", "data"] },
      "AuditEvent": { "type": "object", "properties": { "action": { "type": "string" }, "meta": {}, "ip": { "type": ["string", "null"] }, "createdAt": { "type": "string", "format": "date-time" }, "userId": { "type": ["string", "null"] } }, "required": ["action", "createdAt"] }
    }
  },
  "paths": {
    "/": { "get": { "security": [], "summary": "API version", "responses": { "200": { "description": "Version metadata" } } } },
    "/repos": {
      "get": { "summary": "List repositories", "responses": { "200": { "description": "Repositories", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Repo" } } } } } } },
      "post": { "summary": "Create repository", "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "name": { "type": "string" }, "description": { "type": "string" }, "visibility": { "enum": ["public", "private"] }, "defaultBranch": { "type": "string" } }, "required": ["name"] } } } }, "responses": { "201": { "description": "Created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Repo" } } } } } }
    },
    "/repos/{ownerId}/{name}": {
      "parameters": [{ "name": "ownerId", "in": "path", "required": true, "schema": { "type": "string" } }, { "name": "name", "in": "path", "required": true, "schema": { "type": "string" } }],
      "get": { "summary": "Get repository", "responses": { "200": { "description": "Repository", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Repo" } } } } } },
      "delete": { "summary": "Delete repository", "responses": { "200": { "description": "Deleted" } } }
    },
    "/repos/{ownerId}/{name}/refs": { "get": { "summary": "List refs", "parameters": [{ "name": "ownerId", "in": "path", "required": true, "schema": { "type": "string" } }, { "name": "name", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Refs", "content": { "application/json": { "schema": { "type": "object", "properties": { "refs": { "type": "array", "items": { "$ref": "#/components/schemas/Ref" } } } } } } } } } },
    "/repos/{ownerId}/{name}/refs/{refName}": { "put": { "summary": "Create or update ref", "parameters": [{ "name": "ownerId", "in": "path", "required": true, "schema": { "type": "string" } }, { "name": "name", "in": "path", "required": true, "schema": { "type": "string" } }, { "name": "refName", "in": "path", "required": true, "schema": { "type": "string" } }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "commitHash": { "type": "string" }, "expectedHash": { "type": ["string", "null"] }, "isImmutable": { "type": "boolean" } }, "required": ["commitHash"] } } } }, "responses": { "200": { "description": "Updated", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Ref" } } } } } }, "delete": { "summary": "Delete ref", "responses": { "200": { "description": "Deleted" } } } },
    "/repos/{ownerId}/{name}/commits": { "get": { "summary": "List commits", "parameters": [{ "name": "ownerId", "in": "path", "required": true, "schema": { "type": "string" } }, { "name": "name", "in": "path", "required": true, "schema": { "type": "string" } }, { "name": "n", "in": "query", "schema": { "type": "integer", "minimum": 1, "maximum": 100 } }], "responses": { "200": { "description": "Commits", "content": { "application/json": { "schema": { "type": "object", "properties": { "commits": { "type": "array", "items": { "$ref": "#/components/schemas/Commit" } } } } } } } } } },
    "/repos/{ownerId}/{name}/commits/{hash}": { "get": { "summary": "Get commit", "parameters": [{ "name": "ownerId", "in": "path", "required": true, "schema": { "type": "string" } }, { "name": "name", "in": "path", "required": true, "schema": { "type": "string" } }, { "name": "hash", "in": "path", "required": true, "schema": { "type": "string", "pattern": "^[0-9a-f]{64}$" } }], "responses": { "200": { "description": "Commit", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Commit" } } } } } } },
    "/repos/{ownerId}/{name}/objects/want": { "post": { "summary": "Want/have negotiation", "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "hashes": { "type": "array", "maxItems": 10000, "items": { "type": "string", "pattern": "^[0-9a-f]{64}$" } } }, "required": ["hashes"] } } } }, "responses": { "200": { "description": "Missing hashes" } } } },
    "/repos/{ownerId}/{name}/objects/upload": { "post": { "summary": "Upload object", "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "hash": { "type": "string" }, "data": { "type": "string", "contentEncoding": "base64" } }, "required": ["hash", "data"] } } } }, "responses": { "200": { "description": "Uploaded" } } } },
    "/repos/{ownerId}/{name}/objects/{hash}": { "get": { "summary": "Download object", "responses": { "200": { "description": "Object", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ObjectDownload" } } } } } } },
    "/repos/{ownerId}/{name}/deploy-hooks": { "get": { "summary": "Get deploy hooks", "responses": { "200": { "description": "Deploy hooks" } } }, "put": { "summary": "Set deploy hooks", "responses": { "200": { "description": "Deploy hooks" } } } },
    "/repos/{ownerId}/{name}/deployments": { "get": { "summary": "List deployments", "responses": { "200": { "description": "Deployments", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Deployment" } } } } } } }, "post": { "summary": "Record deployment", "responses": { "201": { "description": "Deployment", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Deployment" } } } } } } },
    "/repos/{ownerId}/{name}/audit": { "get": { "summary": "List audit events", "responses": { "200": { "description": "Audit events", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/AuditEvent" } } } } } } } }
  }
}
